.grounds-body{
    margin-top: 0;
    background-color: #E4F3EE;
    width: 100%;
    height: fit-content;
    position: absolute;
    
}
.sponsored-turf-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 40px 80px 80px 80px;
    width: 90%;
}
.sponsored-turf-section>h1{
    color: #1A265A;
    letter-spacing: 5px;
    font-size: 24px;
}
.sponsored-turfs{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 10fr);

}
.sponsored-turf-img{
    margin-top: 20px;
    position: relative;
    
}
.sponsored-turf-img>img{
    border-radius: 20px;
}
.sponsored-turf-img>h1{
    position: absolute;
    top: 1%;
    right: 36%;
    color: #1A265A;
    background-color: #fff;
    width: 140px;
    border-radius: 5px;
    
}
.sponsored-turf>button{
    
    width: 260px;
    height: 50px;
    box-shadow: 4px 4px 10px 0 #000;
    background-color: #1A265A;
    color: #fff;
    border-radius: 20px;
    font-size: 28px;
    font-weight: 700;
    margin-top: 20px;
}
.grounds-search{
    

}
.grounds-search>input{
    width: 30%;
    text-align: left;
    padding-left: 20px;
    letter-spacing: 4px;
    
}
.grounds-search>svg{
    position: relative;
    left: -30px;

}
.grounds-all-section {
    width: 40%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.grounds-top{
    display: flex;
    justify-content: space-between;
}

.grounds-individual{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 20px;
    padding-left: 40px;
    margin-bottom: 20px;
    
}
.grounds-individual>span{
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3px;

}
.grounds-individual>button{
    position: relative;
    left: 60%;
    top: -30px;
    width: 200px;
    background-color: #1A265A;
    color: #fff;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;

}

.groundProfile-container{
    display: flex;
    flex-direction: row;
}
.groundProfile-info{
    width: 62%;
    margin: 40px;
}
.info-section1{

    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section1{
    margin: 40px;
}
.section1-titlebox{
    background-color: #1A265A;
    color: #E4F3EE;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    border-radius: 20px;
    margin-bottom: 20px;

}
.section1-box{
    background-color: #B2A0E5;
    width: 240px;
    height: 400px;
    padding: 40px;
    border-radius: 20px;
    font-size: 16px;
    text-align: left;
    font-weight: 800;
    row-gap: 20px;
}
.groundprofile-li{
    padding-bottom: 20px;
    color: aliceblue;
    text-shadow: 2px 2px #030000;
}
.section1-box-notice{
    display: flex;
    justify-content: center;
    color: aliceblue;
}
.groundProfile-name{
    font-size: 50px;
    font-weight: 800;
    text-shadow: 2px 2px #030000;
    color: rgb(20, 107, 158);
    padding: 20px;
    margin-top: 20px;
    border: 2px solid ;
    border-radius: 20px;
}